<a
  class="btn btn-sm btn-default"
  href="{{ path('admin_app_surveysubmit_list', { filter: { measurementIndex: { value: object.id }}}) }}">

  <i class="fas fa-inbox"></i> Consultar datos enviados
</a>
