/* Estilo usado en la pagina de inicio */

@font-face {
    font-family: "Sora Regular";
    src: url('/fonts/Sora-Bold.ttf');
}

@font-face {
    font-family: "Euclid Light";
    src: url('/fonts/EuclidCircularA-Light.ttf');
}

@font-face {
    font-family: "Euclid Regular";
    src: url('/fonts/EuclidCircularA-Regular.ttf');
}

@media (max-width: 991.98px) {
    .navbar-nav{
      align-items:flex-start!important;
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Sora Regular'!important;
}

p{
    font-family: 'Euclid Regular'!important;
}

/* INICIO */

.title-inicio{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

.title-inicio::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #fff;
    bottom: -30px;
    left: 0;
    margin: 10px 0;
}

.texto-inicio{
    color: #fff;
    font-size: 19px;
    line-height: 21px;
    margin-top: 40px;
    text-align: justify;
}

.cuadro-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen-cuadro{
    position: relative;
    transition: 0.5s;
}

.imagen-cuadro::after{
    font-family: 'Euclid Light'!important;
    content: "Ver más";
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgb(0, 0, 0, 0.6);
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.imagen-cuadro:hover::after{
    visibility: visible;
}

.cuadro-inicio h5{
    margin: 20px 0;
}

.texto-body{
    font-size: 17px;
}

/* ABOUT */
.title-about{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

.texto-about{
    color: #fff;
    font-size: 19px;
    line-height: 21px;
    margin-top: 20px;
    text-align: center;
}