{% extends 'base.html.twig' %}

{% block title %}Home | Mediciones{% endblock %}

{% block body %}
        <div class="section" style="background-image:url('{{asset('img/WEB_INDICE SICA-11.png')}}')">
            <div class="container">
                <div class="row mt-20 mb-20">
                    <div class="col-lg-6 my-4">
                        <h1 class="title-inicio">Mediciones Red Ciudadana</h1>
                    </div>
                    <div class="col-lg-6 my-4">
                        <img src="{{asset('img/WEB_INDICE SICA-09.png')}}">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
